.container{
	width: 700px;
	border:5px solid rgb(40,40,40);
	background: rgb(0,60,40);
}
h1{
	color:rgba(0,0,256,0.6);
	font-weight: 800;
}
.form-control1{
	width:327px;
	border-radius: 5px;
}
body{
	background: url(bpic.jpg);
	background-size: cover;
}

.col{
	color:white;
}